<section class="nav-bar d-flex flex-column">
    <div class="content-container d-flex flex-grow-1 justify-content-between">
        <div class="logo-container py-4 pl-6">
            <img class="logo" src="/assets/images/headOnly.png" alt="">
            <img class="logo-text pl-2" src="/assets/images/StrangeGaming_Text.png" alt="">
        </div>
        <div class="nav py-4 pr-6">
            <a class="px-3 br" routerLink="/home">Home</a>
            <a class="px-3 br" routerLink="/home">Challenges</a>
            <a class="pl-3" routerLink="/home">Something</a>
        </div>
    </div>
    <div class="accent-bar"></div>
</section>
<news-reel></news-reel>
<!-- <section class="news-reel">
    <div class="reel-title d-inline-block">LATEST NEWS</div>
</section> -->