@import 'variables';

.nav-bar {
    font-family: 'Roboto';
    background-color: #464646;

    .logo {
        height: 50px;
        width: 50px;
    }

    .logo-text {
        height: 50px;
        width: 177px;
    }

    a {
        line-height: 3;
        text-decoration: none;
        color: #dedede;
    }
    a:hover {
        color: $s_green;
    }

    .br {
        border-right: #dedede 1px solid;
    }

    .accent-bar {
        height: 2px;
        background-color: $s_green;
    }
}

.news-reels {
    position: relative;
    height: 40px;
    background-color: #727272;

    .reel-title {
        background-color: #1EB1E2;
        padding: 11px 11px 10px 80px;
        color: $blackish;
        font-family: 'Roboto-Bold';
        font-size: 13px;
    }

    .reel-title::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 11px;
        margin-top: 29px;
        box-sizing: border-box;
        
        border: 14px solid black;
        border-color: transparent transparent #1EB1E2 #1EB1E2;
        
        transform-origin: 0 0;
        transform: rotate(225deg);
        
        box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    }
}