@import 'variables';

.nav-bar {
    font-family: 'Roboto';
    background-color: #464646;

    .logo {
        height: 50px;
        width: 50px;
    }

    .logo-text {
        height: 50px;
        width: 177px;
    }

    a {
        line-height: 3;
        text-decoration: none;
        color: #dedede;
    }
    a:hover {
        color: $s_green;
    }

    .br {
        border-right: #dedede 1px solid;
    }

    .accent-bar {
        height: 2px;
        background-color: $s_green;
    }
}