<section class="green-stripe"></section>
<section class="main-footer py-2 px-5 d-flex justify-content-between">
    <div class="left">
        Strange Gaming LLC
    </div>
    <div class="middle">
        Powered By: <a>Uncanny Code</a>
    </div>
    <div class="right d-flex">
        <span class="mr-4">Find us online</span>
        <div class="icons">
            <a class="mr-2"><fa name="facebook-f"></fa></a>
            <a class="mr-2"><fa name="twitter"></fa></a>
            <a class=""><fa name="google"></fa></a>
        </div>
    </div>
</section>