@import 'variables';

.green-stripe {
    height: 3px;
    background-color: $s_green;
}

.main-footer {
    background-color: #707070;
    font-size: 12px;

    .icons {
        font-size: 15px;
    }

    .icons:hover {
        cursor: pointer;
    }
}