:host {
    height: 40px;
    background-color: lightblue;

    .green-stripe {
        height: 3px;
        background-color: #32F761;
    }

    .main-footer {
        height: 37px;
        background-color: #707070;
    }
}