@import '~bootstrap/scss/bootstrap';

$spacer: 5px;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 1),
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5)
  ),
  $spacers
);

$s_green:         #32F761;
$s_dark_purple:   #8902AF;
$s_light_purple:  #c145ff;
$blackish:        #404040;
$off_white:       #dedede;