<section class="d-flex">
    <div class="pic pl-6 pt-6 flex-grow-1">
        <img src="/assets/images/profile-pics/{{name}}.jpg" alt="">
    </div>
    <div class="name d-flex justify-content-between flex-grow-1">
        <span class="my-auto pl-6">
            Dylan Sinnott
        </span>
        <a class="pr-3 pt-2" (click)="close()"><fa name="times"></fa></a>
    </div>
</section>
<section class="p-6">
    Lorem ipsum dolor amet normcore umami slow-carb venmo tousled schlitz. 
    Swag knausgaard helvetica succulents. Listicle snackwave distillery green 
    juice disrupt VHS echo park. Vaporware pok pok stumptown semiotics heirloom 
    small batch kale chips blue bottle bespoke hammock cronut. Kickstarter gluten-free 
    godard, ramps mustache meggings knausgaard meditation letterpress deep v. 
    Gluten-free direct trade heirloom, photo booth paleo tote bag tumblr portland 
    viral gastropub.
</section>