.watch {
    border-radius: 5px;
    padding: 2px 5px 0px 5px;
    font-size: 13px;
    color: white !important;
    cursor: pointer;

    &-0 {
        background: #F09D3C;
    }

    &-1 {
        background: #D247EB;
    }

    &-2 {
        background: #EB4747;
    }

    &-3 {
        background: #F09D3C;
    }

    &-4 {
        background: #EB4747;
    }
}

.text {
    font-size: 13px;
    color: #c7c7c7 !important;
    padding-top: 2px;
    transition: all .3s;
}

.text:hover {
    color: white !important;
    cursor: pointer;
}