<main class="container d-flex flex-column p-6">
    <article>
        <div class="header">
            FEATURED
        </div>
        <section class="row pt-4">
            <div class="col-6">
                <div class="featured">
                    This week on the latest episode of Happy Hour, Mark spills the
                    beans on how he made his first billion. What else is there to hear 
                    about on this whacky zany podcast? You’ll just have to tune in 
                    here and watch!
                </div>
            </div>
            <div class="col-6">
                <img class="w-100" src="/assets/images/mark_banner.png" alt="">
            </div>
        </section>
    </article>
    <article>
        <section class="row header">
            CHECK THESE OUT
        </section>
        <section class="row pt-4">
            <div class="keynote keynote-left d-flex flex-column justify-content-between col-4 pl-5 py-5">
                <div>
                    <div class="header-thin">
                        OUTTAKES
                    </div>
                    <div class="desc">
                        Hilarity from the lates episode of Happy Hour.
                        John talks women.
                        Brent stares at him, while Mark looks on in disgust.
                    </div>
                </div>
            </div>
            <div class="img-container col-8 pl-0 overflow-hidden d-flex flex-column align-items-center justify-content-center">
                <img src="/assets/images/podcast_keynote.png" alt="">
                <div class="overlay"></div>
                <button class="btn primary">Watch</button>
            </div>
        </section>
        <section class="row">
            <div class="img-container col-8 pl-0 overflow-hidden d-flex flex-column align-items-center justify-content-center">
                <img src="/assets/images/krystal_keynote.png" alt="">
                <div class="overlay"></div>
                <button class="btn primary">Watch</button>
            </div>
            <div class="keynote keynote-right d-flex flex-column justify-content-between col-4 py-5">
                <div>
                    <div class="header-thin">
                        BEST OF
                    </div>
                    <div class="desc">
                        Strange Challenges give you the best shots. 
                        Snipes and game-ending pistol whips you 
                        won’t want to miss.
                    </div>
                </div>
            </div>
        </section>
    </article>
    <article class="pt-8">
        <section class="photos-title d-flex align-items-center header">
            MEET THE SKWAD
        </section>
        <section class="photos">
            <div class="row pt-4">
                <bio-widget class="col-4" [bio]="bios[0]"></bio-widget>
                <bio-widget class="col-4" [bio]="bios[1]"></bio-widget>
                <bio-widget class="col-4" [bio]="bios[2]"></bio-widget>
            </div>
            <div class="row pt-6">
                <bio-widget class="col-4" [bio]="bios[3]"></bio-widget>
                <bio-widget class="col-4" [bio]="bios[4]"></bio-widget>
                <bio-widget class="col-4" [bio]="bios[5]"></bio-widget>
            </div>
            <div class="row pt-6">
                <bio-widget class="col-4" [bio]="bios[6]"></bio-widget>
                <bio-widget class="col-4" [bio]="bios[7]"></bio-widget>
            </div>
        </section>
    </article>
</main>