@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("/assets/images/strage_logo_monochormatic_and_purple_darkened_80.png");
    background-size: 743px 739px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: $off_white;

    article + article {
        margin-top: 50px;
    }

    .featured {
        overflow: hidden;

        iframe {
            height: 25vh;
            width: 100%;
        }
    }

    .keynote {
        z-index: 2;

        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            top: 0;
        }

        &-left {
            background-color: #293a98;
    
            &::after {
                border-width: 200px 0 0 100px;
                border-color: transparent transparent transparent #293a98;
                right: -100px;
            }
        }

        &-right {
            background-color: #90352d;
    
            &::after {
                border-width: 0 100px 200px 0;
                border-color: transparent #90352d transparent transparent;
                left: -100px;
            }
    
        }
    }

    .desc {
        font-size: 13px;
    }

    .img-container {
        max-height: 200px;

        img {
            transition: all .3s;
        }

        button {
            display: none;
        }
    }

    .img-container:hover {
        img {
            transform: scale(1.1);
        }

        button {
            position: absolute;
            display: block;
            width: 50%;
        }

        .overlay {
            position: absolute;
            width: 103%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);        
        }
    }

    .photos {
        .row {
            height: 14rem;
        }
    }
}