<div class="reel-title d-inline-block">LATEST NEWS</div>
<div class="reel-container flex-grow-1 position-relative" #reelContainer>
    <div class="news-items d-flex py-2 px-6 position-absolute" #reel>
        <news-item [text]="title" class="d-flex" [index]="i" *ngFor="let title of titles; let i = index"></news-item>
    </div>
    <!-- <div class="news-items news-items2 d-flex py-2 px-6 position-absolute">
        <news-item [text]="title" class="d-flex" [index]="i" *ngFor="let title of titles; let i = index"></news-item>
    </div> -->
</div>
<div class="reel-start-cover position-relative"></div>